body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    background: lightgoldenrodyellow;
    max-width: 800px;
    margin: auto;
    padding: 5px;
}
h1 {
    text-align: center;
}
#books-form {
    padding: 1em 2em;
    font-size: 1.2rem;
}
input {
    font-size: 1.2rem;
}
input[type="submit"] {
    border: 1px solid lightgray;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}
input[type="submit"]:hover {
    border-color: black;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
table {
    background: rgb(223, 223, 223);
    max-width: 800px;
    margin: 1em auto;
    border-radius: 5px;
}
thead {
    color: rgb(107, 107, 107);
}
td {
    padding: 5px;
}
#prompt {
    color: coral;
    font-size: 0.9rem;
    padding-left: 0.5em;
}
.cross {
    color: coral;
    font-size: 0.9rem;
    cursor: pointer;

}
.cross:hover {
    color: red;
}