body {
    font-family: 'Quicksand', sans-serif;
    background: #161819;
    color: #8EF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.counters {
    border: 2px solid #E36E40;
    border-radius: 2px;
    padding: 1rem;
}
.container {
    display: flex;
}
.counter-block {
    padding: 1rem;
    text-align: center;
    min-width: 200px;
}
.counter-block:not(:last-child) {
    border-right: 2px solid rgb(90, 90, 90);
}
.counter {
    margin: 10px 0;
    font-size: 1.5rem;
}
@media (max-width: 576px) {
    .container {
        flex-direction: column;
    }
    .counter-block:not(:last-child) {
        border: 0;
        border-bottom: 2px solid rgb(90, 90, 90);
    }  
}
footer {
    position: absolute;
    bottom: 10px;
    color: white;
}
footer a {
    color: #8EF2FF;
    text-decoration: none;
}
footer a:hover {
    color: rgb(90, 149, 156);
}