    
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: Lato, sans-serif;
    background: lightgray;
    margin: 0;
}
/*  
    SECTION
*/
.landing {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative; /* overlay will be positioned absolute*/
    color: white;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}
.logo {
    opacity: 0.8;
    border-radius: 1em;
    margin-top: 4em;
}
h1 {
    font-size: 3rem;
    margin-top: 0.5em;
}
.countdown {
    font-size: 4rem;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.countdown > div {
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 0.5em;
}
.countdown .sub {
    font-size: 1.2rem;
    margin: 0;
    color: cyan;
}
/*
    MEDIA QUERIES
*/
@media (max-width: 600px) {
    .logo {
        height: 200px;
    }
    h1 {
        font-size: 3rem;
    }
    .countdown {
        font-size: 3rem;
        width: 100%;
    }
}
@media (max-width: 500px) {
    .logo {
        height: 150px;
    }
    h1 {
        font-size: 2.5rem;
    }
    .countdown {
        flex-direction: column;
        width: 70%;
    }
    .countdown div:not(:first-child) {
        display: none;
    }
}
@media (max-height: 650px) {
    .logo {
        height: 150px;
    }
    .countdown {
        font-size: 2rem;
    }
}