@import url('https://fonts.googleapis.com/css?family=Karla|Roboto|Lato');

body {
    font-family: 'Karla', sans-serif;
}
.col-md-6 {
    /* border: 1px dotted lightcoral; */
}
.col-lg-4, .col-lg-8 {
    /* border: 1px dotted lightblue; */
}
.container {
    /* border: 1px dashed lightgreen; */
}
@media (max-width: 575px) {
    input[type="submit"] {
        margin-top: 1em;
        width: 20%;
    }
}