@import url('https://fonts.googleapis.com/css?family=Karla|Roboto|Lato');

body {
    font-family: 'Karla', sans-serif;
}
@media (max-width: 575px) {
    input[type="submit"] {
        margin-top: 1em;
        width: 20%;
    }
}   
@media (min-width: 1000px) {
    input[type="submit"] {
        width: 10%;
    }
}
h3 {
    font-size: 1.4rem;
}
#todo-items {
    max-height: 47vh;
    overflow-y: scroll;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.task{
    flex: 9;
    word-break: break-all;
}
.delete{
    /* flex: 1; */
    width: 30px;
    margin-left: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media (max-width: 770px) {
    footer {
        display: none;
    }
}
@media (max-height: 700px) {
    footer {
        display: none;
    }
} 