@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

body {
    font-family: "Heebo", sans-serif;
    color: #2c3e50;
    margin: 0;
}
header {
    background: #2c3e50;
    padding: 5px;
    color: #44c549;
    text-align: center;
}
.title {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 1rem 0 0.5rem 0;
}
.desc {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.search input {
    font-size: 1.1rem;
    padding: 7px 14px;
    width: 600px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}
.profile {
    width: 1000px;
}
.profile-container {
    display: flex;
    justify-content: center;
    background: rgb(238, 238, 238);
    box-shadow: 1px 1px 2px lightgray;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}
.user-dp {
    flex: 1;
    display: flex;
    justify-content: center;
}
.user-dp img {
    width: 80%;
    border-radius: 50%;
}
.user-details {
    flex: 3;
}
.user-details p {
    font-size: 1.2rem;
    margin: 0.3rem 0;
    color: gray;
}
.user-details span {
    color: #2c3e50;
    padding-left: 0.5rem;
    width: 100px;
    display: inline-block;
}
.profile-container-two {
    justify-content: space-around;
}
.custom-btn,
.profile-btn {
    background: #c0d3ff;
    padding: 0.5rem;
    border-radius: 5px;
}
.custom-btn span {
    display: inline-block;
    margin-left: 0.5rem;
    background: white;
    padding: 3px;
    width: 35px;
    text-align: center;
    border-radius: 3px;
}
.profile-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #2196f3;
    box-shadow: 2px 2px 2px gray;
    background: white;
}
.profile-btn:hover {
    color: #673ab7;
    text-decoration: underline;
}
.alert {
    text-align: center;
    color: crimson;
}
.alert span {
    color: gray;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
footer a {
    color: #2196f3;
    text-decoration: none;
}
footer a:hover {
    color: #673ab7;
    text-decoration: underline;
}
@media (max-width: 756px) {
    .search input {
        width: 350px;
    }
    .profile {
        width: 320px;
    }
    .profile-container {
        flex-direction: column;
    }
    .user-dp img {
        width: 50%;
    }
    .user-details p {
        font-size: 1rem;
    }
    .profile-container-two {
        align-items: center;
    }
    .custom-btn {
        margin: 0.5rem;
    }
    footer {
        display: none;
    }
}
@media (max-height: 756px) {
    footer {
        display: none;
    }
}
