:root {
    height: 100%;
}
body {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #EFEEEB;
}
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal {
    width: 600px;
    max-width: 85%;
    background: #EFEEEB;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
h1 {
    color: #202329;
}
p {
    color: #40434A;
}
button {
    cursor: pointer;
    font-size: 1rem;
    color: #202329;
    font-family: 'Playfair Display', serif;
    border: none;
    background: #009A9C;
    color: #EFEEEB;
    padding: 7px 14px;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.toggle-modal {
    display: flex;
}
