footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media (max-width: 770px) {
    footer {
        display: none;
    }
}
@media (max-height: 700px) {
    footer {
        display: none;
    }
} 
.alert-danger, .alert-success, .alert-warning {
    margin-bottom: 1em;
    padding: 0.5em;
    color: white;
    border-radius: 5px;
    color: #333;
}
.alert-danger {
    background: lightcoral;
}
.alert-success {
    background: rgb(110, 207, 162);
}
.alert-warning {
    background: rgb(218, 218, 127);
}