footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media (max-width: 770px) {
    footer {
        display: none;
    }
}
@media (max-height: 700px) {
    footer {
        display: none;
    }
} 
.alert-danger {
    background: lightcoral;
    margin-bottom: 1em;
    padding: 0.5em;
    color: white;
    border-radius: 5px;
}
.alert-success {
    background: lightgreen;
    margin-bottom: 1em;
    padding: 0.5em;
    color: white;
    border-radius: 5px;
}