@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu, sans-serif;
    min-height: 100vh;
    padding: 3% 0;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
header {
    margin-bottom: 1rem;
}
main {
    padding-top: 2rem;
}
main > .container {
    background-color: rgba(255,255,255,0.7);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    margin: 1em auto;
}
.list-group {
    max-height: 30vh;
    overflow: scroll;
}
h1 {
    color: white;
}
h4 {
    padding: 0.5em;
}

/*  STICKY FOOTER   */
footer {
    position: fixed;
    width: 100%;
    bottom: 1em;
    color: rgb(117, 117, 117);
    letter-spacing: 1px;
}
footer a {
    color: rgb(59, 140, 172);
}

/*  COLOR CLASSES   */
.bg-info {background-color: lightskyblue;}
.bg-success {background-color: lightgreen;}
.bg-warning {background-color: orange;}
.bg-danger {background-color: lightcoral;}

/*  FORMS AND MESSAGES  */
#form-first {
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cecece;
}
#enter-budget,  #button-one {
    height: 2em;
    text-align: center;
    font-size: 2rem;
}
#message-first, #message-second {
    color: red;
    font-size: 1.75rem;
    margin-top: 5px;
}

/*  MEDIA QUERIES   */
@media (max-width: 991px) {
    footer {
        display: none;
    }
}
@media (max-height: 650px) {
    footer {
        display: none;
    }
}
@media (min-width: 768px) {
    #enter-budget {
        width: 400px;
    }
    #button-one {
        margin-left: 1em;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}