@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');


body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background: rgba(0, 0, 0, 0.9);
    ;
    color: white;
    font-size: 18px;
}

section {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.container {
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(to left, #00a7ff 0%, #00bc3f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-input {
    border: none;
    height: 3.25rem;
    padding-left: 5px;
    min-width: 300px;
    font-size: 1rem;
}

.custom-input:focus,
.custom-input:active {
    outline: none;
}

.custom-list {
    list-style: none;
    padding: 0;
}

.custom-list li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 250px;
    transition: all 0.5s ease;
}

.custom-list a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
}

.custom-list a:hover {
    color: #946e79;
}

@media (max-width: 576px) {
    section {
        padding-left: 0;
    }
    h1 {
        font-size: 2.25rem;
    }
}

