@import url('https://fonts.googleapis.com/css?family=Martel+Sans&display=swap');
:root {
    --cream: #e9ece5;
    --black: #272623;
    --cyan: #56bba7;
    --coral: rgb(255, 76, 10);
    --white: #fff;
    --white-dark: #f8f8f8;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: rgba(255, 198, 206, 0.589);
    color: var(--black);
    font-family: Martel Sans, sans-serif;
}
.card {
    box-shadow: 0px 2px 2px 0px gray;
    margin-bottom: 1em;
    max-width: 800px;
    margin: auto;
    padding: 1em;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    font-family: Martel Sans, sans-serif;
    font-size: 1em;
    padding-left: 5px;
    padding-top: 5px;
    width: 400px;
    height: 40px;
}
input[type=submit] {
    border: none;
    width: 100px;
    margin-top: 10px;
    padding-top: 7px;
    cursor: pointer;
    font-size: 0.9em;
    background: none;
    color: var(--black);
    text-transform: uppercase;
    border: 1px solid gray;
    border-radius: 5px;
}
input[type=submit]:hover {
    border-color: black;
    color: var(--cyan);
}
input[type=submit]:active {
    background: black;
}
#clear-all:hover {
    color: var(--coral);
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 5px;
    position: relative;
}
li:nth-child(even) {
    background-color:var(--white);

}
li:nth-child(odd) {
    background-color:var(--white-dark);
}
.cross {
    color: coral;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 0;
    transition: transform 0.5s ease;
}
.cross:hover {
    color: red;
    transform: rotate(-90deg);
}
footer {
    background-color:lightgray;
    padding: 1em;
    text-align: center;
}
footer p {
    font-size: 0.95rem;
    color: gray;
}
footer a {
    text-decoration: none;
    color: gray;
}
footer a:hover {
    color: var(--cyan);
}
/*
    STICKY FOOTER
*/
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}
footer {
    height: 100px;
}