html, body {
	height: 100%;
}
body {
	margin: 0;
	font-size: 18px;
	background: #BE93C5; 
	background: linear-gradient(to right, #7BC6CC, #BE93C5); 
	font-family: 'Nunito', sans-serif;
}
* {
	box-sizing: border-box;
}
header p {
	text-align: center;
	font-size: 3rem;
    font-weight: 700;
	background: linear-gradient(to right, #000046, #1cb5e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-container {
	width: 650px;
	padding: 1rem;
	position: relative;
}
.score-container {
	width: 100px;
	padding: 5px;
	margin-left: auto;
	background: #fff1a9;
	display: none;
}
.question {
	background: #36556d;
	color: white;
	padding: 1rem;
	margin: 10px 0;
	line-height: 1.3;
	height: 70px;
	display: flex;
	align-items: center;
	border-radius: 2px;
	font-weight: 600;
}
.options {
	list-style:none;
	padding: 0;
	margin: 5px 0;
}
.options li {
	margin: 5px 0;
	padding: 5px;
	background: #efefef;
	padding-left: 1rem;
	cursor: pointer;
	border-radius: 2px;
}
.options li:hover {
	background: lightyellow;
}
.options li:active {
	outline: 2px solid #36556d;
}
.message {
	height: 25px;
	text-align: center;
	color: rgb(8, 85, 49);
	font-weight: bold;
}
.indicator {
	height: 5px;
	width: 0%;
	background: white;
	border-radius: 10px;
}
footer {
	text-align: center;
	font-size: 16px;
}
footer a {
	text-decoration: none;
	color: #36556d;
}
footer a:hover {
	text-decoration: underline;
}