html, body {
	height: 100%;
}
body {
	margin: 0;
	font-size: 18px;
	background: #B2FEFA;
	background: linear-gradient(to right, #0ED2F7, #B2FEFA); 
	background: #BE93C5; 
	background: linear-gradient(to right, #7BC6CC, #BE93C5); 
	font-family: 'Nunito', sans-serif;
}
* {
	box-sizing: border-box;
}
main {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-container {
	width: 650px;
	padding: 1rem;
	position: relative;
}
.score-container {
	width: 100px;
	padding: 5px;
	margin-left: auto;
	background: #fff1a9;
	display: none;
}
.question {
	background: #c1edfb;
	padding: 1rem;
	margin: 10px 0;
	line-height: 1.3;
	height: 70px;
	display: flex;
	align-items: center;
	border-radius: 2px;
	font-weight: 600;
}
.options {
	list-style:none;
	padding: 0;
	margin: 5px 0;
}
.options li {
	margin: 5px 0;
	padding: 5px;
	background: #efefef;
	padding-left: 1rem;
	cursor: pointer;
	border-radius: 2px;
}
.options li:hover {
	background: lightgoldenrodyellow;
}
.options li:active {
	outline: 2px solid gray;
}
.message {
	height: 25px;
	text-align: center;
	color: green;
	font-weight: bold;
}
footer {
	text-align: center;
	font-size: 16px;
}